*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --main_color: #007aff;
    --main_color_hover: #418fe3;
    --auth_form: #0c5274;
    --white: #fff;
    --gray: #dad6d6;

    --warning: #840824;
    --success: #085e17;
    
}
a {color: var(--white);}
/* MESSAGES */

.alert {
    position: absolute;
    top: 60px;
    width: 400px;
    min-height: 30px;
    color: var(--white);
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.alert-success {background: var(--success);}
.alert-warning {background: var(--warning);}

header {
    background: var(--main_color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.navigation {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.wrapper-titlte_main {
    display: flex;
    color: var(--white);
    width: 500px;

}
.navigation ul {
    display: flex;
    justify-content: space-between;
}
.navigation ul li {
    margin-right: 20px;
    font-size: 20px;
    text-transform: lowercase;
    font-weight: 700;
}

/*=======================
  PAGES AUTH
========================*/
.main--wrapper-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.wrapper-auth_description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_logo {
    width: 120px;
    height: 120px;
}
.wrapper-form h1 {
    font-size: 25px;
    text-align: center;
    color: var(--white);
    padding: 10px;
}

.wrapper-form {
    width: 35vh;
    height: auto;
    padding: 20px;
    background: var(--auth_form);
    border-radius: 6px;
}
.form_group {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    color: var(--white);
    font-size: 18px;
    width: 250px;
}
.form-control {
    height: 35px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
.wrapper--btn-form_submit {
    display: flex;
    justify-content: center;
}
.wrapper--btn-form_submit input {
    width: 250px;
    height: 35px;
    background: var(--main_color);
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 1s ease;
}
.wrapper--btn-form_submit input:hover,
.btn--submit_reports:hover  {background: var(--main_color_hover);}

.footer_auth {
    margin: 15px;
    text-align: center;
    color: var(--white);
}
.footer_auth p {cursor: pointer;}


/*=======================
  PAGES MAIN
========================*/
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.wrapper-section {
    background: var(--auth_form);
    width: 330px;
    border-radius: 6px;
    padding: 10px 0;
}
.wrapper-section h1 {
    text-align: center;
    color: var(--white);
    margin-top: 5px;
}
.popup {
    position: relative;
    top: 0;
    background: var(--white);
    border: 1px solid #ccc;
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
    cursor: pointer;
}
.wrapper-section form {margin: 0 13px;  }
 .form-operation_group {
    display: flex;
    flex-direction: column;
}
.form-operation_group label {
    color: var(--white);
    font-size: 19px;
    margin: 10px 0 10px;
}
.form-operation_group input,
.form-operation_group select,
.form-operation_group textarea {
    width: 300px;
    height: 35px;
    padding: 5px;
    font-size: 14px;
    border-radius: 6px;
}
#id_image_cheque {color: var(--white);}

.btn--submit_reports {
    width: 300px;
    height: 35px;
    background: var(--main_color);
    cursor: pointer;
    font-size: 17px;
    color: var(--white);
    margin: 20px auto;
}
.btn--submit_reports {transition: all 1s ease;}

.item-container:first-of-type svg {display: none !important;}

.popup {
    position: relative;
    top: 0;
    background: var(--white);
    border: 1px solid #ccc;
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
    cursor: pointer;
}

.modal_hidden {display: none;}
.search-results {
    background: #E5E3E4;
    color: #453C41;
    width: 300px;
    max-height: 300px;
    border-radius: 6px;
    margin-top: 10px;
    overflow: auto;
}
.search-result-option {
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
}
.search-result-option:hover {
    background: var(--gray);
    border-radius: 6px;
}

.modal_loading {
    width: 100%;
    height: 100%;
    background: #444344c1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal_loading h3 {
    margin-top: 50px;
    color: var(--white);
    font-size: 20px;
    letter-spacing: 2px;
}
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid var(--white);
    border-top: 10px solid var(--main_color);
    animation: animate-loading 1s infinite linear;
}
@keyframes animate-loading {
    0% {
        transform: translate(-20%, 50%) rotate(0deg);
    }
    100% {
        transform: translate(-20%, 50%) rotate(360deg);
    }
}




























/*=======================
  PAGE REPORTS USER
========================*/
.title-h1_reports {
    text-align: center;
    margin-top: 30px;
}


.li-list_report {
    display: flex;
    justify-content: space-around;
    background: var(--gray);
    margin-top: 30px;
    cursor: pointer;
}
.li-list_report li {
    width: 200px;
    max-width: auto;
    display: flex;
    white-space: wrap;
    align-items: center;
}

.reports_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

/*=======================
  PAGE ALL REPORTS
========================*/
.form-search-reports {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search_reports,
.btn_submit_report_search {
    height: 35px;
    border-radius: 6px;
    margin-top: 30px;
}
.input-search_reports {
    background: var(--gray);
    width: 40%;
    padding: 0 10px;
    font-size: 20px;
}
.btn_submit_report_search {
    width: 60px;
    cursor: pointer;
    font-size: 16px;
}
.wrapper--main_content-table {
    margin-top: 30px;
    padding: 0 30px;
}
.tr-wrapper-reports {
    height: 50px;
    border-bottom: 1px solid var(--gray);
}

.image_reports {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}
.table-search_th {
    border-collapse: collapse;
    width: 100%;
}

.table-search_th th, .table-search_th td {
    text-align: left;
    padding: 8px;
}
.table-search_th th {background-color: #f2f2f2;}









@media screen and (max-width: 590px) {
    .navigation {
        display: block;
        margin-right: 0;
    }
    header {height: auto; padding: 10px;}
    .navigation h1 {text-align: center; font-size: 19px;}
    .wrapper-form h1 {font-size: 22px;}
    .form_group {font-size: 16px;}
}