{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<div>
    <div>
        <h1 class="title-h1_reports">Отчёты проектных менеджеров</h1>
    </div>
    <div class="wrapper--search-reports">
        <form action="#" method="get" id="search" class="form-search-reports">
            <input type="text" class="input-search_reports" placeholder="Найти" name="search_query" value="{{ search_query }}"/>
            <input type="submit" value="Поиск" class="btn_submit_report_search"/>
        </form>
    </div>
</div>
<section class="wrapper--main_content-table">
   <div class="wrapper--parametrs_search" >
        <div class="parametrs_search" style="display: none;">
            Настройки
            <div>
                <button>Все</button>
                <button>Новые</button>
                <button>Проверено</button>
            </div>
        </div>
        <table class="table-search_th">
            <tr>
                <th>Сделка</th>
                <th>Имя пользователя</th>
                <th>Сумма</th>
                <th>Назначения платежа</th>
                <th>Дата создания отчёта</th>
                <th>За период</th>
                <th>Статус</th>
                <th>Чек</th>
            </tr>
            {% for all_operation in all_operations %}
                <tr class="tr-wrapper-reports">
                    {% if all_operation.deal_name %}
                        <td>{{ all_operation.deal_name }}</td>
                    {% else %}
                        <td class="color_warning_deal">без сделки</td>
                    {% endif %}
                    <td>{{ all_operation.user.first_name }}</td>
                    <td>{{ all_operation.value }} руб.</td>
                    <td>{{ all_operation.description }}</td>
                    <td>{{ all_operation.created|date:"Y-m-d" }} г.</td>
                    <td>{{ all_operation.during_period|date:"Y-m-d" }} г.</td>
                    <td class="{% if all_operation.status == 1 %} color_positive_deal {% else %} color_warning_new {% endif %}">
                        {{ all_operation.get_status_display }}
                    </td>
                    <td>
                        <img class="image_reports"
                        src="{{ all_operation.image_cheque.url }}"
                        alt="Изображения чека"
                        data-image="{{ all_operation.image_cheque.url }}">
                    </td>
                </tr>
                <td>
                    <a href="{% url 'verify_report' all_operation.id %}" class="btn__valid_reports">Принять</a>
                </td>
            {% endfor %}
        </table>
   </div>
    <div class="modal_images" style="display: none;">
        <img id="modalImage" class="images_in_modal" src="" alt="Изображения чека">
    </div>
</section>
<script src="{% static 'js/modal_image.js' %}"></script>
{% endblock %}