{% extends 'mainapp/base.html' %}

{% block content %}
<div>
    <div>
        <h1 class="title-h1_reports">Отчёты проектных менеджеров</h1>
    </div>
    <div class="wrapper--search-reports">
        <form action="#" method="get" id="search" class="form-search-reports">
            <input type="text" class="input-search_reports" placeholder="Найти" name="search_query" value="{{ search_query }}"/>
            <input type="submit" value="Поиск" class="btn_submit_report_search"/>
        </form>
    </div>
</div>
<section class="wrapper--main_content-table">
    <table class="table-search_th">
        <tr>
            <th>Сделка</th>
            <th>Имя пользователя</th>
            <th>Сумма</th>
            <th>Назначения платежа</th>
            <th>Дата создания отчёта</th>
            <th>За период</th>
            <th>Чек</th>
        </tr>
        {% for all_operation in all_operations %}
            <tr class="tr-wrapper-reports">
                <td>{{ all_operation.deal_name }}</td>
                <td>{{ all_operation.user.first_name }}</td>
                <td>{{ all_operation.value }}</td>
                <td>{{ all_operation.description }}</td>
                <td>{{ all_operation.created }}</td>
                <td>{{ all_operation.during_period|date:"d F Y" }}</td>
            <td><img class="image_reports" src="{{ all_operation.image_cheque.url }}" alt="Изображения чека"></td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}