{% extends 'mainapp/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<div>
    <div>
        <h1 class="title-h1_reports">Отчёты проектных менеджеров</h1>
    </div>
    <div class="wrapper--search-reports">
        <form action="#" method="get" id="search" class="form-search-reports">
            <input type="text" class="input-search_reports" placeholder="Найти" name="search_query" value="{{ search_query }}"/>
            <input type="submit" value="Поиск" class="btn_submit_report_search"/>
        </form>
    </div>
</div>
<section class="wrapper--main_content-table">
   <div class="wrapper--parametrs_search" >
        <div class="parametrs_search">
            <h4>Фильтр</h4>
            <div class="menu_settings">
                <a href="{% url 'all_reports' %}"><button class="{% if page == 'all_reports' %} active_button {% else %} default_btn {% endif %}">Все</button></a> <br>
                <a href="{% url 'new_report' %}"><button class="{% if page == 'new_report' %} active_button {% else %} default_btn {% endif %}">Новые</button></a> <br>
                <a href="{% url 'verify_reports' %}"><button class="{% if page == 'verify_reports' %} active_button {% else %} default_btn {% endif %}">Проверено</button></a> <br>
            </div>
        </div>
        <table class="table-search_th">
            <tr>
                <th>Сделка</th>
                <th>Контрагент</th>
                <th>Имя пользователя</th>
                <th>Сумма</th>
                <th>Назначения платежа</th>
                <th>Дата создания отчёта</th>
                <th>Дата операции</th>
                <!-- <th>Статья списание</th> -->
                <th>Статус</th>
                <th>Чек</th>
            </tr>
            {% for all_operation in all_operations %}
                {% if all_operation.status == 0 and page == 'new_report' or page == 'verify_reports' and all_operation.status == 1 or all_operation and page == 'all_reports' %}
                
                <tr class="tr-wrapper-reports">
                    {% if all_operation.deal_name %}
                        <td>{{ all_operation.deal_name }}</td>
                    {% else %}
                        <td class="color_warning_deal">без сделки</td>
                    {% endif %}

                    {% if all_operation.selectedDealCounterparty %}
                    <td>{{ all_operation.selectedDealCounterparty }}</td>
                    {% else %}
                        <td class="color_warning_deal">без контрагета</td>
                    {% endif %}

                    <td>{{ all_operation.user.last_name }} {{ all_operation.user.first_name|first }}.</td>
                    <td>{{ all_operation.value|intcomma }} руб.</td>
                    <td>{{ all_operation.description }}</td>
                    <td>{{ all_operation.created|date:"Y-m-d" }} г.</td>
                    <td>{{ all_operation.during_period|date:"Y-m-d" }} г.</td>
                    <!-- <td>
                        {{ all_operation.undisclosed }}
                    </td> -->
                    <td class="{% if all_operation.status == 1 %} color_positive_deal
                               {% elif all_operation.status == 0 %} color_warning_new
                               {% else %} color_rejected_new {% endif %}">
                        {{ all_operation.get_status_display }}
                    </td>
                    <td>
                        <img class="image_reports"
                        src="{{ all_operation.image_cheque.url }}"
                        alt="Изображения чека"
                        data-image="{{ all_operation.image_cheque.url }}">
                    </td>
                
                    <div class="wrapper-comment" id="modal-comment-{{ all_operation.id }}" style="display: none;">
                        <div class="container_comment">
                            <h3>Опишите причину отклонения отчёта</h3>
                            <form action="{% url 'report_comment' operation_id=all_operation.id %}" method="post" class="comment-form">
                                {% csrf_token %}
                                <textarea class="textaria_comment_repotr" name="rejected_comment"></textarea>
                                <input type="submit" value="Отклонить" class="btn__valid_reports" style="background: var(--warning);">
                            </form>
                        </div>
                    </div>
                
                    {% if all_operation.status == 0 %}
                    <td class="td-a-btn_wrapper">
                        <form action="{% url 'verify_report' all_operation.id %}" class="report_form" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Принять" class="btn__valid_reports input_btn__valid_reports">

                            <div class="modal_loading" style="display: none;">
                                <div class="circle"></div>
                                <h3>Отправляю отчёт</h3>
                            </div>
                        </form>
                        <button class="btn__valid_reports" data-operation-id="{{ all_operation.id }}" style="background: var(--warning);">Отклонить</button>
                    </td>
                </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
   </div>
    <div class="modal_images" style="display: none;">
        <img id="modalImage" class="images_in_modal" src="" alt="Изображения чека">
    </div>

</section>

<script src="{% static 'js/modal_image.js' %}"></script>
{% endblock %}