{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'mainapp/logo_color.png' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mainapp/logo_color.png' %}">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mainapp/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'mainapp/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'mainapp/site.webmanifest' %}"> -->

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper--modile_menu" id="mobileMenu">
        <img class="modile_icon" src="{% static 'mainapp/mobile.png' %}" alt="Мобильное меню">
    </div>
    <header id="header">
        <nav class="navigation">
            <div class="wrapper-titlte_main">
                <h1><a href="{% url 'home' %}">intetix</a></h1>
                <h2>система управнения отчётами</h2>
            </div>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_superuser  %}
                
                    {% else %}
                        <li><a href="{% url 'user_report' %}">Мои отчёты</a></li>
                        <li class="li_load_report"><a href="{% url 'home' %}">Загрузить отчёт</a></li>
                    {% endif %}

                    <li class="li_load_report"><a href="{% url 'intetix_users' %}">Пользователи</a></li>
                    <li class="li_load_report"><a href="{% url 'all_reports' %}">все отчёты</a></li>
                    <li class="li_load_report"><a href="{% url 'logout' %}">Выйти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <!-- MESSAGES -->
    <div class="main-wrapper--messages">
        {% if messages or form.errors %}
            <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %}">

                {% if messages %}
                    {% for msg in messages %}
                        {{ msg }}
                    {% endfor %}
                {% else %}
                    {{ form.errors }}
                {% endif %}

            </div>
        {% endif %}
    </div>

    {% block content %}

    {% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>