{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<main class="container-main">
    <section class="wrapper-section">
        <h1>Загрузить отчёт</h1>
        <div>
            <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                <div class="form-operation_group">
                    <label>Сделки</label>

                    <select name="deal_name" style="margin-top: 30px;" id="deal_name">
                        <option><p>сделка</p></option>
                        {% for deal_name in deal_names %}
                            <option value="{{ deal_name.id}} ">{{ deal_name.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-operation_group">
                    <label>Контрагеты</label>

                    <select name="counterparty" style="margin-top: 30px;" id="counterparty">
                        <option><p>контрагент</p></option>
                        {% for counterparty in counterparty_names %}
                            <option value="{{ counterparty.id}} ">{{ counterparty.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-operation_group">
                    <label>Неразнесённое списание</label>

                    <select name="undisclosed" id="undisclosed">
                        <option><p>списание</p></option>
                        {% for undisclosed in undisclosed_write %}
                            <option value="{{ undisclosed.id }}">{{ undisclosed.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-operation_group">
                    <label>Сумма операции</label>
                    {{ form.value }}
                </div>
                <div class="form-operation_group">
                    <label>Назначения платежа</label>
                    {{ form.description }}
                </div>
                <div class="form-operation_group">
                    <label>Чек (изображения)</label>
                    {{ form.image_cheque }}
                </div>
                <input class="btn--submit_reports" type="submit" value="Отправить отчёт">
            </form>
        </div>
    </section>
</main>

{% endblock %}