{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<main class="container-main">
    <section class="wrapper-section">
        <h1>Загрузить отчёт</h1>
        <div>
            <form action="{% url 'home' %}" method="post" enctype="multipart/form-data" id="f">
                {% csrf_token %}
                <div class="form-operation_group">
                    <label for="selectedDeal">Сделки</label>

                    <input type="text" id="dealSearch" placeholder="Поиск сделки">
                    <div id="searchResults" class="search-results"></div>

                    <select id="deal_name" name="deal_name" class="selectedDeal modal_hidden">
                        <option value=""></option>
                        {% for deal_name in deal_names %}
                            <option value="{{ deal_name.id }}" data-option-value="{{ deal_name.name }}">{{ deal_name.name }}</option>
                        {% endfor %}
                    </select>
                    <input name="selectedDealName" id="selectedDealName" data-option-value="{{ deal_name.name }}" class="modal_hidden">
                </div>
                
                <div class="form-operation_group">
                    <label for="selectedDeal">Контрагеты</label>

                    <input type="text" id="dealSearch" placeholder="Поиск сделки">
                    <div id="searchResults" class="search-results"></div>

                    <select id="deal_name" name="counterparty" class="selectedDeal modal_hidden">
                        {% for counterparty in counterparty_names %}
                            <option  value="{{ counterparty.id }}" data-option-value="{{ counterparty.id }}">{{ counterparty.name }}</option>
                        {% endfor %}
                    </select>
                    <input name="counterparty" id="selectedDealName" data-option-value="{{ counterparty.name }}" class="modal_hidden">
                </div>
                

                <div class="form-operation_group">
                    <label for="selectedDeal">Неразнесённое списание</label>

                    <input type="text" id="dealSearch" placeholder="Поиск списание">
                    <div id="searchResults" class="search-results"></div>

                    <select name="undisclosed" id="deal_name" class="selectedDeal modal_hidden">
                        {% for undisclosed in undisclosed_write %}
                            <option value="{{ undisclosed.id }}" data-option-value="{{ undisclosed.id }}">{{ undisclosed.name }}</option>
                        {% endfor %}
                    </select>
                    <input name="undisclosed" id="selectedDealName" data-option-value="{{ undisclosed.name }}" class="modal_hidden">
                </div>







                <!-- <div class="form-operation_group">
                    <label>Неразнесённое списание</label>

                    <select name="undisclosed" id="undisclosed">
                        <option><p>списание</p></option>
                        {% for undisclosed in undisclosed_write %}
                            <option value="{{ undisclosed.id }}">{{ undisclosed.name }}</option>
                        {% endfor %}
                    </select>
                </div> -->
                
                <div class="form-operation_group">
                    <label>Сумма операции</label>
                    {{ form.value }}
                </div>
                <div class="form-operation_group">
                    <label>Назначения платежа</label>
                    {{ form.description }}
                </div>
                <div class="form-operation_group">
                    <label>Чек (изображения)</label>
                    {{ form.image_cheque }}
                </div>
                <input class="btn--submit_reports" type="submit" value="Отправить отчёт">
            </form>
        </div>
    </section>
</main>
{% endblock %}