{% extends 'mainapp/base.html' %}

{% block content %}
<main>
    <h1 class="title-h1_reports">Мои отчёты</h1>
    <section>
        <div class="wrapper--list_report">
            {% for report in user_operations %}
                    <ul class="li-list_report">
                        <li>{{ report.selectedDealName }}</li>
                        <!-- <td>{{ report.category }}</td> -->
                        <li>{{ report.value }} руб.</li>
                        <li>{{ report.description }}</li>
                        <li>{{ report.created }}</li>
                        <li><img class="reports_image" src="{{ report.image_cheque.url }}" alt="Изображение отчета"></li>
                    </ul>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}