{% extends 'mainapp/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
    <h1 class="title-h1_reports">Мои отчёты</h1>
    <div>
        <div class="wrapper--search-reports">
            <form action="#" method="get" id="search" class="form-search-reports">
                <input type="text" class="input-search_reports" placeholder="Найти" name="search_query" value="{{ search_query }}"/>
                <input type="submit" value="Поиск" class="btn_submit_report_search"/>
            </form>
        </div>
    </div>
    <section class="wrapper--main_content-table">
        <table class="table-search_th">
            <tr>
                <th>Сделка</th>
                <th>Контрагент</th>
                <th>Сумма</th>
                <th>Назначения платежа</th>
                <th>Дата создания отчёта</th>
                <th>Дата операции</th>
                <th>Статус</th>
                <th>Чек</th>
            </tr>
            {% for user_operation in user_operations %}
                <tr class="tr-wrapper-reports">
                    {% if user_operation.deal_name %}
                        <td>{{ user_operation.deal_name }}</td>
                    {% else %}
                        <td class="color_warning_deal">без сделки</td>
                    {% endif %}
                    {% if user_operation.selectedDealCounterparty %}
                        <td>{{ user_operation.selectedDealCounterparty }}</td>
                    {% else %}
                        <td class="color_warning_deal">без контрагета</td>
                    {% endif %}
                    <td>{{ user_operation.value|intcomma }} руб.</td>
                    <td>{{ user_operation.description }}</td>
                    <td>{{ user_operation.created|date:"Y-m-d" }} г.</td>
                    <td>{{ user_operation.during_period|date:"Y-m-d" }} г.</td>
                    <td class="{% if user_operation.status == 1 %} color_positive_deal
                               {% elif user_operation.status == 0 %} color_warning_new
                               {% else %} color_rejected_new {% endif %}">
                        {{ user_operation.get_status_display }}
                    </td>
                    <td>
                        <img class="image_reports"
                        src="{{ user_operation.image_cheque.url }}"
                        alt="Изображения чека"
                        data-image="{{ user_operation.image_cheque.url }}">
                    </td>
                    {% if user_operation.status == 2 %}
                    <td class="td-a-btn_wrapper del-wrapper_btn">
                        <form action="{% url 'delete_report' user_operation.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-del-report">
                                <img class="img_del_report" src="{% static 'mainapp/del.png' %}" alt="Удалить">
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="modal_images" style="display: none;">
            <span class="close">&times;</span>
            <img id="modalImage" class="images_in_modal" src="" alt="Изображения чека">
        </div>
    </section>
    <script src="{% static 'js/modal_image.js' %}"></script>
{% endblock %}